  <div class="background">
    <div class="color-slab">
      <div class="overlaid-circle"></div>
    </div>
    <div class="color-slab light">
      <div class="overlaid-circle skinny"></div>
    </div>
    <div class="color-slab light">
      <div class="overlaid-circle offset"></div>
    </div>
  </div>
  <section class="banner wrap-container">
    <div class="wrap">
      <h1>{{ h1 | safe or 'Did you walk by a COVID-19 patient?' }}</h1>
      {% if p %}
      <p>{{ p }}</p>
      {% endif %}
      <div class="form-container">
        <div class="form-wrap">
      {% include "includes/form.html" %}
        </div>
      </div>
    </div>
  </section>
