<header>
  <nav>
    <ul>
      <li><a href="{{ url_for('index') }}" {% if request.path == url_for('index') %}class="active"{% endif %}>Check</a></li>
      {% if current_user.is_authenticated %}
      <li><a href="{{ url_for('home') }}" {% if request.path == url_for('home') %}class="active"{% endif %}>Home</a></li>
      <li><a href="{{ url_for('logout') }}">Logout</a></li>
      {% else %}
      <li><a href="{{ url_for('login') }}" {% if request.path == url_for('login') %}class="active"{% endif %}>Login</a></li>
      {% endif %}
    </ul>
  </nav>
</header>
