<link rel="stylesheet" href="/static/index.css?random_code={{random_code}}">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- <script src="../jquery-3.4.1.js"></script>
<script src="../js/timedropper.js"></script>
<script src="../js/datepicker.min.js"></script>
<script src="../dist/js/i18n/datepicker.en.js"></script>
<link rel="stylesheet" type="text/css" href="../js/timedropper.css">
<link href="../css/datepicker.min.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" type="text/css" href="../static/result.css">
<link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans&display=swap" rel="stylesheet">
<meta name="viewport" content="width=device-width, initial-scale=0.85"> -->
