.Header-Bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #58362D;
	height: 45px;
	padding: 10px;
}

body {
   margin: 0px;
   background-color: "#F8E3DF";

}

#logo {
	font-family: 'Nunito', sans-serif;
	font-size: 20px;
	white-space: pre-line;
	margin-bottom: 20px;
	margin-left: 10px;
	color: #F8E3DF;

}

.nav-links {
	display: flex;
	justify-content: space-between;
}

.nav-item a {
	padding: 25px;
	font-family: 'Nunito', sans-serif;
	font-size: 15px;
	text-decoration: none;
	color: #F8E3DF;
}
.nav-item a:hover {
	cursor:pointer;
}

.footer-bar {
	margin-top: 645px;
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	background-color: #58362D;
	height: 25px;
	padding: 10px;
}

.foot-links {
	display: flex;
	justify-content: space-between;
}

.foot-item {
	padding: 25px;
	font-family: 'Nunito', sans-serif;
	font-size: 10px;
	color: #F8E3DF;
}

#big-box {
    left: 511px;
    position: relative;
    height: 1050px;
    width: 500px;
    /*background-color: #B4DCF5;*/
    top: 50px;
    border-radius: 15px;
    background-image: linear-gradient(to bottom right, #05425b, #26a3d8);
}

#intro {
    position: absolute;
    padding:20px;
    white-space: pre-wrap;
    font-family: 'Nunito', sans-serif;
    font-size: 40px;
    left: -83px;
    color: white;
}

#intro-elab {
	position: absolute;
    padding:20px;
    white-space: pre-wrap;
    font-family: 'Nunito', sans-serif;
    font-size: 15px;
    top: 160px;
    left: 24px;
    color: white;
}

#text {
	padding:5px;
	font-family: 'Futura';
}

#title {
	font-size: 40px;
    top: 25px;
    left: 454px;
    position: relative;
    font-family: 'Futura';
}

#month {
	position: absolute;
	top: 400px;
	left: 55px;
	width: 100px;
	border-radius: 5px;
}

#day {
	position: absolute;
	top: 70px;
	left: 200px;
	width: 70px;
	border-radius: 5px;
}

#year {
	position: absolute;
	top: 70px;
	left: 350px;
	width: 90px;
	border-radius: 5px;
}

#time-enter {
	position: absolute;
	top: 370px;
	left: 55px;

}


#start {
	position: absolute;
	top: 400px;
	left: 181px;
	width: 100px;
	border-radius: 5px;
}

#end {
	position: absolute;
	top: 400px;
	left: 305px;
	width: 100px;
	border-radius: 5px;
}

#place {
	position: absolute;
	top: 300px;
	left: 55px;
	width: 350px;
	height: 50px;
	border-radius: 5px;
}

#submit {
	position: absolute;
	top: 450px;
	left: 55px;
	width: 350px;
	height: 50px;
	border-radius: 50px;
		font-family: 'Nunito', sans-serif;
}

#submit:hover{
	cursor: pointer;
	box-shadow: 0 4px 10px rgba(0,0,0,0.35);
}

#arrow {
	position: absolute;
    top: 100px;
    text-align: center;
    padding: 12px;
    margin-bottom: 6px;
    height: 60px;
    width: 200px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);

}