<!doctype html>
<!--Sources
-->
<html>
   <head>
       <script src="../jquery-3.4.1.js"></script>
       <script src="../js/timedropper.js"></script>
       <script src="../js/datepicker.min.js"></script>
       <script src="../dist/js/i18n/datepicker.en.js"></script>
       <link rel="stylesheet" type="text/css" href="../js/timedropper.css">
       <link href="../css/datepicker.min.css" rel="stylesheet" type="text/css">
       <link rel="stylesheet" type="text/css" href="../static/code.css">
       <link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans&display=swap" rel="stylesheet">
       <meta name="viewport" content="width=device-width, initial-scale=0.85">


   </head>

   <body>
    <header>

    </header>


    <div class="content">
      <div id="big-box">
            <div align="center" id = 'intro'>
              Type in your
              security code.
            </div>
            <div align="center" id = 'intro-elab'>
              We sent a code to your phone:
              +1 {{ phone_number }}.
            </div>
            <form action="/code" method="post">
            	<input type="text" id = "code" name="code" placeholder="6-digit code" required>
              <input type="submit" id="submit" value= "CONTINUE">
            </form>
            <div id = "arrow"></div>
        </div>

      </div>
    </div>






    <div class="footer-bar">
    </div>




   </body>

</html>
