<html class="light">
  <head>
    {% include "includes/head.html" %}
  </head>
  <body>
    {% include "includes/header.html" %}
    <section class="banner wrap-container">
      <div class="wrap">
        <h1>You walked by <b>0</b> COVID patients.</h1>
        <p>You authenticated with the phone number <b>{{ current_user.id }}</b>.</p>
      </div>
    </section>
    {% include "includes/cards.html" %}
    {% include "includes/actions.html" %}
    {% include "includes/footer.html" %}
  </body>
</html>
