<html>
  <head>
    {% include "includes/head.html" %}
  </head>
  {% include "includes/header.html" %}
  {% set p='COVID-19 patients can take up to 14 days to show symptoms. Check if the last public location you passed is at-risk.' %}
  {% include "includes/check.html" %}

  <!-- <div class="content">
  <div id="big-box">
        <input type="text" class="datepicker-here" id="month" name="fname"><br>
        <label for="appt" id="time-enter">Enter your date along with your start and end time:</label>
        <input type="text" placeholder="Start" id="start" name="time1" min="00:00" max="23:59" required>
        <script>$( "#start" ).timeDropper();</script>
        <input type="text" placeholder="End" id="end" name="time2" min="00:00" max="23:59" required>
        <script>$( "#end" ).timeDropper();</script>
        <input type="text" placeholder="Location" id="place" name="place" required>
        <input type="submit" id="submit" value= "CHECK FOR CONTACT">
      </form>
  </div>
  </div>
  </div> -->
  {% include "includes/footer.html" %}
</html>
