<!doctype html>
<!--Sources
  https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input/time

  http://t1m0n.name/air-datepicker/docs/

  https://felicegattuso.com/projects/timedropper/
-->
<html>
   <head>
       <script src="../jquery-3.4.1.js"></script>
       <script src="../js/timedropper.js"></script>
       <script src="../js/datepicker.min.js"></script>
       <script src="../dist/js/i18n/datepicker.en.js"></script>
       <link rel="stylesheet" type="text/css" href="../js/timedropper.css">
       <link href="../css/datepicker.min.css" rel="stylesheet" type="text/css">
       <link rel="stylesheet" type="text/css" href="../static/webapp.css">
       <link href="https://fonts.googleapis.com/css?family=Nunito|Open+Sans&display=swap" rel="stylesheet">  
       <meta name="viewport" content="width=device-width, initial-scale=0.85">


   </head>

   <body>
    <header>

    </header>


    <div class="content">
      <div id="big-box">
            <div align="center" id = 'intro'>
              Did you walk by 
              a COVID patient?
            </div>
            <div align="center" id = 'intro-elab'>
              COVID-19 patients can take up to 14
              days to show symptoms. Check if you've
              passed an at-risk space and time.
            </div>
            <form>
              <!--<label for="month">Month:</label><br>-->
              <input type="text" class="datepicker-here" id="month" name="fname"><br>
            </form> 

            <form>
              <label for="appt" id="time-enter">Enter your date along with your start and end time:</label>
              <input type="text" placeholder="Start" id="start" name="time1" min="00:00" max="23:59" required>
              <script>$( "#start" ).timeDropper();</script>
            </form>
            <form>
              <input type="text" placeholder="End" id="end" name="time2" min="00:00" max="23:59" required>
              <script>$( "#end" ).timeDropper();</script>
            </form>
            <form>
              <input type="text" placeholder="Location" id="place" name="place" required>
            </form>
            <form>
              <input type="submit" id="submit" value= "CHECK FOR CONTACT"> 
            </form>
            <div id = "arrow"></div>
        </div>






      </div>
    </div>






    <div class="footer-bar">
    </div>



   
   </body>

</html>